*
!*/
!.gitignore

!ssh/*
!sshguard/*
!default/locale
!scripts/*
!extra_exercises/*
!rc.local
!sudoers
!apt/apt.conf.d/*
!systemd/system/static-arp.service
!ntp.conf
!default/named
bind/mrt-zones/*
bind/named.conf.mrt-zones
!bind/*
!apache2/*
!apache2/sites-available/*
apache2/sites-available/mrt*
!mysql/mysql.conf.d/*
!systemd/network/*
!postfix/*
!dovecot/*
!mailname
