[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.177.149/25
Gateway = 193.191.177.254
Address = 2001:6a8:2880:a077::95/64
Gateway = 2001:6a8:2880:a077::1
DHCP = no
IPv6AcceptRA = yes
ListenStream=25
ListenStream=53
ListenStream=80
ListenStream=443
ListenStream=993
ListenStream=22345
